@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

.topbar-container {
  /* background-color: #0f2049; */
  background-color: #5b6b93;
}

.topbar {
  background-color: #34d6ff;
  font-size: 0.8rem;
  font-weight: 400;
}

.anchor-tag {
  color: #000;
}
.navbar {
  width: 100%;
}

.hero-content-container {
  width: 100vw;
}

.nav-item {
  font-family: "Inter";
  font-weight: 500 !important;
  font-size: 1.1rem !important;
  padding: 0 2.2rem 0 0 !important;
  color: #ffffff !important;
  text-decoration: none;
}

.active {
  color: #fff !important;
  font-weight: 900 !important;
  text-decoration: underline !important;
  text-decoration-skip-ink: none !important;
  text-decoration-thickness: 2px !important;
  padding-bottom: 8px;
}

.hero-background-image {
  height: 100vh;
  position: relative;
  background-image: url("./assets/plumbing-home.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(33, 48, 97, 0.6),
      rgba(59, 83, 182, 0.6)
    ),
    rgba(112, 146, 230, 0.6);
  z-index: 0;
}

.loader {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  background-color: #34d6ff !important;
}

.carousel-indicators .active {
  background-color: #ffffff !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.line {
  width: 55px;
  height: 2px;
  background-color: #34d6ff;
}

.about-container {
  height: 100vh;
  position: relative;
  background-image: url("./assets/p5.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(238, 236, 235, 0.65),
      rgba(234, 232, 231, 0.65)
    ),
    rgba(234, 232, 231, 0.65);
}

@media (max-width: 768px) {
  .services-container {
    margin-top: 35rem !important;
  }
}
