@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

.topbar-container {
  /* background-color: #0f2049; */
  background-color: #5b6b93;
}

.topbar {
  background-color: #34d6ff;
  font-size: 0.8rem;
  font-weight: 400;
}

.anchor-tag {
  color: #000;
}
.navbar {
  width: 100%;
}

.hero-content-container {
  width: 100vw;
}

.nav-item {
  font-family: "Inter";
  font-weight: 500 !important;
  font-size: 1.1rem !important;
  padding: 0 2.2rem 0 0 !important;
  color: #ffffff !important;
  text-decoration: none;
}

.active {
  color: #fff !important;
  font-weight: 900 !important;
  text-decoration: underline !important;
  text-decoration-skip-ink: none !important;
  text-decoration-thickness: 2px !important;
  padding-bottom: 8px;
}

.hero-background-image {
  height: 100vh;
  position: relative;
  background-image: url("./assets/plumbing-home.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(33, 48, 97, 0.6),
      rgba(59, 83, 182, 0.6)
    ),
    rgba(112, 146, 230, 0.6);
  z-index: 0;
}

.loader {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  background-color: #34d6ff !important;
}

.carousel-indicators .active {
  background-color: #ffffff !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.line {
  width: 55px;
  height: 2px;
  background-color: #34d6ff;
}

.about-container {
  height: 100vh;
  position: relative;
  background-image: url("./assets/p5.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(238, 236, 235, 0.65),
      rgba(234, 232, 231, 0.65)
    ),
    rgba(234, 232, 231, 0.65);
}

/* services section starts here */

.services-outer-container::before {
  content: "";
  position: absolute;
  width: 50%;
  right: 0;
  height: 85%;
  background-color: #f9faff;
}

.services-card {
  padding: 1rem;
  border: 1.8px solid #7fe5ff;
  position: relative;
}

.services-card::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  right: -0.25rem;
  width: 35px; /* Width of the bottom-right border */
  height: 35px; /* Height of the bottom-right border */
  border-right: 5px solid #4273c1;
  border-bottom: 5px solid #4273c1;
  z-index: 1;
}
.card-1::before,
.card-2::before,
.card-3::before,
.card-4::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(103, 130, 187, 0.49),
      rgba(103, 130, 187, 0.49)
    ),
    rgba(103, 130, 187, 0.49);
}

/* Testimonials section starts here */

.testimonials-outer-container {
  position: relative;
  background-image: url("./assets/p6.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.testimonials-outer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    rgba(255, 255, 255, 0.6);
  z-index: -1;
}

.testimonials-right {
  max-width: 29rem;
  max-height: 29rem;
}

/* .testimonials-carousel-container {
  border-left: 50% solid #38d2fb;
  z-index: 5;
} */

.testimonials-carousel-container::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-image: url("./assets/quote.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.testimonial-border-container::after {
  position: absolute;
  content: "";
  border-left: 10px solid #38d2fb;
  height: 50%;
  left: 0;
  top: 0;
  z-index: 3;
}

.testimonials-carousel-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(48, 89, 147, 0.6),
      rgba(48, 89, 147, 0.6)
    ),
    rgba(48, 89, 147, 0.6);
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
  top: 1.25rem !important;
}

.carousel-indicators {
  z-index: 3 !important;
}

/* Quote form section starts here */

.quote-form-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/p5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
}

.form-control {
  border-radius: 0px !important;
  border: 1px solid #dbdbdb !important;
}

@media (max-width: 768px) {
  .quote-form-margin {
    margin-top: 30rem !important;
  }
}
